In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
#A database is an organized collection of structured information, or
#data, typically stored electronically in a computer system. 
#A database is usually controlled by a database management system 
#(DBMS).

#SQL databases are vertically scalable, while NoSQL databases are 
#horizontally scalable. SQL databases are table-based, while NoSQL 
#databases are document, key-value, graph, or wide-column stores. SQL
#databases are better for multi-row transactions, while NoSQL is 
#better for unstructured data like documents or JSON.

In [3]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are
#used with an example.

In [4]:
#A data definition language (DDL) is a computer language used to 
#create and modify the structure of database objects in a database. 

#CREATE TABLE table_name ( column1 datatype, column2 datatype,
#ExampleGet your own SQL Server. CREATE TABLE Persons 
#( Persion id......
#CREATE TABLE new_table_name AS. SELECT column1, column2,... FROM 
#existing_table_name. ...
#Example. CREATE TABLE TestTable AS. SELECT customername, contactname.

#SQL not only deletes a table but also deletes other entities such as 
#database, column, index, constraint, etc. For example, the DROP 
#COLUMN command deletes the specified column from the table, and the 
#DROP DATABASE command deletes the specified database and all of its 
#information.

#The ALTER TABLE statement is used to add, delete, or modify columns 
#in an existing table.The ALTER TABLE statement is also used to add 
#and drop various constraints on an existing table.

#To delete all the data, the SQL Truncate command locks the table and
#page. The truncate command does not add entries to the transaction 
#log for each deleted row.

In [5]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [6]:
#DML is an abbreviation for Data Manipulation Language. Represents a
#collection of programming languages explicitly used to make changes 
#to the database, such as: CRUD operations to create, read, update and
#delete data. Using INSERT, SELECT, UPDATE, and DELETE commands.

#INSERT , UPDATE , and DELETE are all functions in SQL that help you 
#ensure your data is up-to-date and kept clear of unnecessary or 
#outdated information. INSERT , UPDATE , and DELETE , as well as 
#SELECT and MERGE, are known as Data Manipulation Language (DML) 
#statements, which let SQL users view and manage data.

In [7]:
#Q4. What is DQL? Explain SELECT with an example.

In [8]:
#Query languages, often known as DQLs or Data Query Languages, are 
#computer languages that are used to make various queries in 
#information systems and databases. The Structured Query Language 
#(SQL) is a well-known example. DQL statements are used to query the
#data contained in schema objects.

In [9]:
#Q5. Explain Primary Key and Foreign Key.

In [10]:
#A primary key generally focuses on the uniqueness of the table. 
#It assures the value in the specific column is unique. A foreign key 
#is generally used to build a relationship between the two tables. 
#The table allows only one primary key.

In [11]:
#Q6. Write a python code to connect MySQL to python. Explain the 
#cursor() and execute() method.

In [12]:
# using the cursor() method of the Connection object/class.
#Drag the MySQL - Execute a query action to the point in the workflow
#when you want to run a query.

In [13]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

In [14]:
#1	FROM	Tables are joined to get the base data.
#2	WHERE	The base data is filtered.
#3	GROUP BY	The filtered base data is grouped.
#4	HAVING	The grouped base data is filtered.